@import '../../shared/styles/colors.scss';

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
}

.lobby-list {
  width: 100%;
}

.add-lobby-button-container {
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  background: $red;
}
