<icon (click)="showExitDialog = true" icon="arrow-left" [size]="1.4" class="back-button"></icon>
<confirm-dialog *ngIf="showExitDialog" (onCancel)="showExitDialog = false" (onConfirm)="exit()">
  <p class="confirm-text">Are you sure you want to exit?</p>
</confirm-dialog>

<vertical-revolver [players]="players" class="player-revolver"></vertical-revolver>

<div class="bids-container" *ngIf="isMyTurn && shouldBid && !trickWinner" @fade>
  <div *ngFor="let bid of bidOptions" (click)="placeBid(bid)" class="bid-option">{{ bid }}</div>
</div>

<div class="winner-container" *ngIf="trickWinner && !playedCards.length" @winner-fade (@winner-fade.done)="onWinnerTitleShowed()">
  <p>{{ trickWinner?.username }} wins the trick</p>
</div>

<div cdkDropListGroup class="card-group">
  <div class="stacks-container">
    <div class="trump-container">
      <img *ngIf="trump" class="card" [src]="'/assets/cards/' + trump.suit + '-' + trump.rank + '.svg'" @fade />
    </div>
    <div
      class="played-cards-container"
      cdkDropList
      [cdkDropListData]="playedCards"
      [cdkDropListEnterPredicate]="canPlayCard"
      (cdkDropListDropped)="playCard($event)"
    >
      <img
        *ngFor="let card of playedCards; index as i"
        class="card"
        [style.z-index]="i"
        [src]="'/assets/cards/' + card.suit + '-' + card.rank + '.svg'"
      />
      <flippable-card
        *ngIf="cardPlayed || (!shouldBid && !isMyTurn && !isFinished && !trickWinner)"
        [card]="cardPlayed"
        [@fade]="!!cardPlayed"
        [@card-move]="!!cardPlayed"
        (@card-move.done)="addCardToStack()"
        class="flip-card"
      ></flippable-card>
    </div>
  </div>
  <div class="hand-container" cdkDropList [cdkDropListData]="hand">
    <img
      *ngFor="let card of hand"
      [style.marginLeft.%]="-20 - this.hand.length * 0.4"
      class="card"
      [src]="'/assets/cards/' + card.suit + '-' + card.rank + '.svg'"
      cdkDrag
      [cdkDragData]="card"
      @fade
    />
  </div>
</div>

<bottom-bar class="menu" (onScoreClicked)="showScoreboard = !showScoreboard"></bottom-bar>

<scoreboard-overlay
  *ngIf="showScoreboard"
  [ngClass]="isFinished ? 'fully-overlayed' : 'partly-overlayed'"
  [players]="players"
  [roundsToPlay]="roundsToPlay"
  [roundToResultsMap]="roundToResultsMap"
>
  <countdown-button *ngIf="isFinished" (onComplete)="backToLobby()" (click)="backToLobby()">Continue</countdown-button>
</scoreboard-overlay>
