@import '../../shared/styles/colors.scss';

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.confirm-text {
  font-size: 18px;
  font-weight: 500;
}

.player-revolver {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding-top: 10px;
  min-height: 85px;
}

.bids-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100px;

  .bid-option {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: $medium-grey;
    color: $white;
    margin: 8px;
    font-weight: 700;
  }
}

.winner-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  top: 100px;
  align-items: center;
  justify-content: center;

  p {
    background: $medium-grey;
    color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 85px - 50px);
  padding: 20px;
}

.stacks-container {
  width: 100%;
  height: 35vw;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
}

.trump-container {
  width: 25vw;
  height: 35vw;
  background: $medium-grey;
  border-radius: 10px;
  padding: 20px;
  box-sizing: content-box;
}

.played-cards-container {
  width: 25vw;
  height: 35vw;
  background: $medium-grey;
  border-radius: 10px;
  margin-left: 20px;
  padding: 20px;
  box-sizing: content-box;

  > .card {
    margin-left: 0 !important;
    position: absolute;
  }

  .flip-card,
  .cdk-drag-placeholder {
    position: absolute;
    z-index: 999;
  }
}

.hand-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(35vw + 40px);
  background: $medium-grey;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;

  .card:first-child {
    margin-left: 0 !important;
  }
}

.card {
  display: block;
  width: 25vw;
  box-shadow: 0px 0px 20px -10px $dark-grey;
}

.partly-overlayed {
  width: 100%;
  height: calc(100% - 50px);
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 0;
}

.fully-overlayed {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 0;
}
