@import '../../shared/styles/colors.scss';

.back-button {
  position: absolute;
  inset: 20px;
  cursor: pointer;
  z-index: 100000;
}

.confirm-text {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.player-revolver {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding-top: 10px;
  min-height: 85px;
  position: relative;
}

.bids-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 120px;

  .bid-option {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: $medium-grey;
    color: $white;
    margin: 8px;
    font-weight: 700;
    cursor: pointer;
  }
}

.winner-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  top: 120px;
  align-items: center;
  justify-content: center;

  p {
    background: $medium-grey;
    color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 115px - 50px);
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.stacks-container {
  width: 100%;
  height: min(35vw, 216.5px);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
}

.trump-container {
  width: min(25vw, 155px);
  height: min(35vw, 216.5px);
  background: $medium-grey;
  border-radius: 10px;
  padding: 20px;
  box-sizing: content-box;
}

.played-cards-container {
  width: min(25vw, 155px);
  height: min(35vw, 216.5px);
  background: $medium-grey;
  border-radius: 10px;
  margin-left: 20px;
  padding: 20px;
  box-sizing: content-box;

  > .card {
    margin-left: 0 !important;
    position: absolute;
  }

  .flip-card,
  .cdk-drag-placeholder {
    position: absolute;
    z-index: 999;
  }
}

.hand-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: min(calc(35vw + 40px), 256.5px);
  background: $medium-grey;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;

  .card:first-child {
    margin-left: 0 !important;
  }

  .card {
    box-shadow: 0px 0px 20px -5px $dark-grey;
    cursor: pointer;

    @media screen and (min-width: 750px) {
      margin-left: -15% !important;
    }
  }
}

.card {
  display: block;
  width: min(25vw, 155px);
}

.scoreboard {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 0;
}

.menu {
  display: block;
  max-width: 750px;
  margin: 0 auto;
}
