@import '../../styles/colors.scss';

:host {
  position: relative;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  position: absolute;
  background: $medium-grey;
  border-radius: 10px;
  color: $white;
}
