@import '../../shared/styles/colors.scss';

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
}

.center-container {
  width: 100%;
  margin: auto 0;
}

.banner {
  width: 100%;
  position: relative;
  bottom: 50px;
}

.username-input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-align: center;
  background: $dark-grey;
  border: 2px solid $medium-grey;
  border-radius: 10px;
  color: $white;

  &:focus {
    border: 2px solid $red;
  }
}

.continue-button {
  width: 100%;
}
