@import '../../styles/colors.scss';

.item {
  display: flex;
  height: 25px;
  line-height: 25px;
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
  color: $white;
  font-weight: 500;

  &.active {
    font-size: 18px;
  }

  &:not(.active) {
    opacity: 0.8;
  }

  &.hidden {
    opacity: 0;
  }

  .username {
    max-width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bid {
    padding-left: 12px;
    position: absolute;
    left: 100%;
  }
}
