.item {
  display: flex;
  height: 25px;
  line-height: 25px;
  opacity: 1;
  transition: transform 300ms, opacity 300ms;

  &.active {
    font-size: 18px;
  }

  &:not(.active) {
    opacity: 0.5;
  }

  &.hidden {
    opacity: 0;
  }

  .username {
    max-width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
  }

  .bid {
    position: absolute;
    left: 100%;
  }
}
