<ng-container *ngFor="let player of sortedPlayers; index as i; trackBy: trackById">
  <div class="item" [ngClass]="{ active: turn === i, hidden: shouldHide(i, turn) }" [style.transform]="getTransform(turn)">
    <div class="before" [style.visibility]="player.disconnected || turn === i ? 'visible' : 'hidden'">
      <div class="active" *ngIf="!player.disconnected"></div>
      <icon class="disconnect" *ngIf="player.disconnected" icon="disconnected" color="#ee011c"></icon>
    </div>

    <div class="username">{{ player.username }}</div>

    <div [style.visibility]="hasBid(player.publicId) ? 'visible' : 'hidden'">
      ({{ getTricks(player.publicId) }}/{{ getBid(player.publicId) }})
    </div>
  </div>
</ng-container>
