.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.player-card {
  display: block;
  width: calc(50vw - 30px);
  height: calc(50vw - 30px);
  margin-bottom: 20px;
}

.start-button {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}
